 body {
            display: flex;
            flex-direction: column;
            margin: 0;
            font-family: Arial, sans-serif;
            opacity: 0; /* Inicialmente oculto */
            transition: opacity 0.7s ease; /* Transición de opacidad */
        }

        body.loaded {
            opacity: 1; /* Mostrar el cuerpo */
        }

        header {
            display: flex;
            align-items: center;
            background-color: #4CAF50; /* Color del fondo del header */
            padding: 10px;
            color: white; /* Color del texto */
        }

        .photo-container {
            border-radius: 50%; /* Bordes completamente redondos */
            overflow: hidden; /* Para que los bordes redondeados funcionen */
            width: 100px; /* Ancho del contenedor */
            height: 100px; /* Altura del contenedor */
            margin-right: 20px; /* Espacio a la derecha de la imagen */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
        }

        img {
            width: 100%; /* Ancho de la imagen */
            height: auto; /* Altura automática para mantener la proporción */
            border-radius: 50%; /* Bordes redondos en la imagen */
        }

        main {
            display: flex;
            flex: 1;
        }

        aside {
            width: 200px; /* Ancho del aside */
            padding: 20px;
            background-color: #f4f4f4; /* Color de fondo del aside */
            border-right: 1px solid #ccc; /* Línea de separación */
        }

        aside a {
            display: block;
            margin: 10px 0; /* Espacio entre enlaces */
            color: #333; /* Color del texto de los enlaces */
            text-decoration: none; /* Sin subrayado */
        }

        aside a:hover {
            text-decoration: underline; /* Subrayar al pasar el mouse */
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        .social-icons {
            margin-top: 10px;
        }
        .social-icons a {
            margin: 0 10px;
            display: inline-block;
        }
        .social-icons img {
            width: 30px; /* Ajusta el tamaño de los íconos */
            height: 30px;
        }
        details {
            margin-bottom: 10px;
        }
        summary {
            cursor: pointer;
            background: #007BFF;
            color: white;
            padding: 10px;
        }
        summary:hover {
            background: #0056b3;
        }
        iframe {
            width: 100%;
            height: 500px; /* Ajusta la altura según sea necesario */
            border: none; /* Sin borde */
        }
        